<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBM Object Storage</title>
</head>
<body>
    <div class="container">
        <h2>IBM Object Storage In Description</h2>
        {% for row in files %}
            <h3>{{row}}</h3>
            <img width="120px" src="https://nutrition-assistant-application-logavanan.s3.jp-tok.cloud-object-storage.appdomain.cloud/{{row}}" alt="">
        {% endfor %}
    </div>
</body>
</html>